h1, h2, h3, h4, h5, h6 {
	clear: both;
    font-weight: normal;
    font-family: $font__heading;
}

h1 {
    @include font-size($h2);
}

h2 {
    @include font-size($h3);
}

h3 {
    @include font-size($h4);
}

h4 {
    @include font-size($h5);
}

h5 {
    @include font-size($h6);
}

h6 {
    @include font-size($small);
}

@include breakpoint(md) {
    h1 {
        @include font-size($h1);
    }

    h2 {
        @include font-size($h2);
    }

    h3 {
        @include font-size($h3);
    }

    h4 {
        @include font-size($h4);
    }

    h5 {
        @include font-size($h5);
    }

    h6 {
        @include font-size($h6);
    }
}

.page-title,
.widget-title {
    @extend %btn;
    @extend %paper;
    display: block;
    padding: .25em;
}
