body,
button,
input,
select,
textarea {
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;

    @include breakpoint(md) {
        @include font-size(1.2);
    }

}

body,
input,
select,
textarea {
    color: $color__text-main;
}


.site-footer {
    @include font-size($small);
}

@import "headings";

@import "copy";