%clearfix {
    &:after {
    content: " ";
    display: table;
    clear: both;
    }
}

/**
 * Extends
 */
// for old markup w/clearfix class:
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// VISUALLY HIDE
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}


/* Base Button Style */
%btn {
  position: relative;
  display: inline-block;
  padding: .5em;
  
  background-color: $color__foreground;
  border: 1px solid $color__background;

  color: $color__background;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  
  transform-style: flat;
  transition: all 250ms ease-out;

  a,
  a:visited {
    color: $color__background;
  }
  
  &:before,
  &:after {
      content: "";
      position: absolute;
      z-index: -2;
        transition: all 250ms ease-out;
  }
}

%btn-inverted {
  @extend %btn;
  
  background-color: $color__background;
  border: 1px solid $color__foreground;
  color: $color__foreground;

  a,
  a:visited {
    color: $color__foreground;
  }
}

/* Paper effect – slightly raised off background */
%paper {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color:$color__lightest-grey;
}

