$color__black: #111;
$color__white: #fff;
$color__light-black: lighten($color__black, 15%);
$color__base-grey: #888;


@function color($map: $colors__theme, $key: 'primary') {
  @return map-get($map, $key);
}

@function text-color( $bgcolor ) {
  @if (lightness( $bgcolor ) > 40) {
    @return $color__black;
  }
  @else {
    @return $color__white;
  } 
}

$colors__grey: (
    'lightest-grey': mix(white, $color__base-grey, 90%),
    'light-grey': mix(white, $color__base-grey, 60%),
    'mid-light-grey': mix(white, $color__base-grey, 30%),
    'mid-grey': $color__base-grey,
    'mid-dark-grey': mix(black, $color__base-grey, 30%),
    'dark-grey': mix(black, $color__base-grey, 60%),
    'darkest-grey': mix(black, $color__base-grey, 90%),
);

$color__lightest-grey: color($colors__grey, 'lightest-grey');
$color__light-grey: color($colors__grey, 'light-grey');
$color__mid-light-grey: color($colors__grey, 'mid-light-grey');
$color__mid-grey: color($colors__grey, 'mid-grey');
$color__mid-dark-grey: color($colors__grey, 'mid-dark-grey');
$color__dark-grey: color($colors__grey, 'dark-grey');
$color__darkest-grey: color($colors__grey, 'darkest-grey');


/**
 * Can be replaced with another color palette
 * See: theme directory for sample palettes
 */
$colors__theme: (
  'primary': $color__base-grey, 
  'accent': #f00,
  'secondary':  #757575,
  'foreground': $color__white,
  'background': $color__black
);

$color__primary: color($colors__theme, 'primary');
$color__secondary: color($colors__theme, 'secondary');
$color__tertiary: color($colors__theme, 'accent');
$color__accent: color($colors__theme, 'accent');
$color__highlight: color($colors__theme, 'accent');
$color__background: color($colors__theme, 'background');
$color__foreground: color($colors__theme, 'foreground');

$colors__buttons: (
    'success': #509ea3,
    'info': $color__secondary,
    'warning': #f39c12,
    'danger': $color__accent,
    'default': $color__foreground
);

$color__success: color($colors__buttons, 'success');
$color__info: color($colors__buttons, 'info');
$color__warning: color($colors__buttons, 'warning');
$color__danger: color($colors__buttons, 'danger');
$color__default: color($colors__buttons, 'default');

/* Social Media - http://www.paulund.co.uk/social-media-colours */
$colors__social: (
    'facebook': #3B5998,
    'twitter': #00aced,
    'linkedin': #007bb6,
    'google-plus': #dd4b39,
    'youtube': #bb0000
);

$color__link: $color__primary;

$color__facebook: color($colors__social, 'facebook');
$color__twitter: color($colors__social, 'twitter');
$color__linkedin: color($colors__social, 'linkedin');
$color__google-plus: color($colors__social, 'google-plus');
$color__youtube: color($colors__social, 'youtube');


$color__background-body: $color__background;
$color__background-screen: lighten($color__background, 10%);
$color__background-hr: $color__light-grey;
$color__background-button: $color__default;
$color__background-pre: $color__light-grey;
$color__background-ins: lighten($color__warning, 80%);

$color__text-button: $color__background;
$color__text-screen: $color__primary;
$color__text-input: $color__mid-grey;
$color__text-input-focus: $color__primary;
$color__link: $color__primary;
$color__link-visited: $color__primary;
$color__link-hover: lighten($color__primary, 10%);
$color__text-main: $color__foreground;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
