// Elements
$element__border-radius-base: 0;
$element__border-radius-small: 4px;
$element__border-radius-large: 10px;
$element__border-radius-round: 50%;

$element__widget-radius: $element__border-radius-base;