@mixin font-face($font-family, $path, $file-name, $svg-label, $font-weight: normal, $font-style: normal) {

  @font-face {
    font-family: $font-family;

    src: url('#{$path + $file-name}.eot');
    src: url('#{$path + $file-name}.ttf') format('truetype'),
    url('#{$path + $file-name}.eot?#iefix') format('embedded-opentype'),
    url('#{$path + $file-name}.woff') format('woff'),
    url('#{$path + $file-name}.svg##{$svg-label}') format('svg');

    font-weight: $font-weight;
    font-style: $font-style;
  }

}

@include font-face('Gabriele', 'dist/fonts/gabriele/', 'gabriele-l', '', $font-weight: normal, $font-style: normal);

@include font-face('Gabriele', 'dist/fonts/gabriele/', 'gabriele-br', '', $font-weight: bold, $font-style: normal);


$font__sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font__serif: Georgia, "Times New Roman", Times, serif;
$font__mono: "Courier 10 Pitch", Courier, monospace;
$font__main: $font__mono;
$font__heading: 'Gabriele', Courier, monospace;
$font__code: $font__mono;
$font__pre: $font__mono;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;;
$font__line-height-headings: 1.2;

// SPACING
$space-triple: 72px; 
$space-double: 48px;
$space-32: 30px; 
$space: 24px; // equal to body line-height
$space-34: 18px; 
$space-half: 12px; 
$space-third: 8px; 
$space-fourth: 6px; 

$giga: 5; //80
$mega: 4.5; //72
$kilo: 4; //64

$h1: 3;// 48 h1 alpha
$h2: 2.25; // 36 h2 beta
$h3: 1.75; // 28 h3 gamma
$h4: 1.375; // 22 h4 delta
$h5: 1.125; //18 h5 epsilon
$h6: 1; //16 h6, p zeta

$small: .875; //14 milli
$smaller: .75; //12 micro
$tiny: 0.6875; //11 nano


// Font sizes
$font__size_giga: 5em;
$font__size_mega: 4.5em;
$font__size_kilo: 4em;
$font__size-h1: 3em; //48
$font__size-h2: 2.25em; //36
$font__size-h3: 1.75em; //28
$font__size-h4: 1.375em; //22
$font__size-h5: 1.125em;  //18
$font__size-h6: 1em; //16
$font__size-default: 16px;
$font__size-content: 1em; //16
$font__size-small: 0.875em; //14
$font__size-smaller: 0.75em; //12
$font__size_tiny: 0.6875em; //11

// Weights
$font__weight-default: 400;
$font__weight-bold: 700;
