.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.recent-posts {
    .entry-title {
        margin-top: .25em;
        margin-bottom: 0;
    }
}
