.home,
.category-news,
.single-post {

    .site-content {

        @include breakpoint(md) {

            display: flex;

            .content-area {
                width: $size__site-main;
                padding-right: 1em;
            }

            .widget-area {
                width: $size__site-sidebar;
                padding-left: 1em;
            }

        }
    }

}

