.home {

    .site-main {
        .entry-title {
            @extend %btn;
            @extend %paper;
            display: block;
            padding: .25em;
        }
    }

    .recent-posts .wp-post-image {
        width: 100%;
        height: auto;
    }

}
