.home {

    .site-main {
        .entry-title {
            background: transparent url('dist/images/torn-paper.png') center center no-repeat;
            background-size: 100% 100%;
            color: $color__background;
            text-align: center;
            display: block;
            padding: .25em;
            a {
                color: $color__background;
            }
        }
    }

    .recent-posts .wp-post-image {
        width: 100%;
        height: auto;
    }

}
