.site-header,
.site-content,
.site-footer {
    width: 90%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.site-header {
    text-align: center;
}

.site-content {
    margin-top: 2em;
    margin-bottom: 2em;
}