.photo-album-links {

    .item-link {
        width: 100%;
        min-height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;

        a {
            min-height: 200px;
        }

        .entry-title {
            display: block;
            margin: 0;
            min-height: 200px;
            padding-top: 1em;
            vertical-align: middle;
            background-color: transparent;
            color: transparent;
            border: none;
            text-transform: none;

            &:hover,
            &:focus {
                color: $color__foreground;
                background-color: rgba(0,0,0,.7);
            }
        }
    }

    @include breakpoint(md) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .item-link {
          width: 25%;
          flex-grow: 1;
        }

    }

}

.post-type-archive-team-member {

    .hentry {
        width: 100%;
        min-height: 200px;
        padding-bottom: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }

    .hentry,
    .entry-title {
        margin: 0;
    }

    .entry-title {
        display: block;
        margin: 0;
        min-height: 200px;
        padding-top: 1em;
        vertical-align: middle;
        background-color: transparent;
        border: none;

        a {
            color: transparent;
            display: block;
            min-height: 200px;
        }

        &:hover,
        &:focus {
            background-color: rgba(0,0,0,.7);
        }

        &:hover a,
        &:focus a {
            color: $color__foreground;
        }
    }


    @include breakpoint(md) {

        .bio-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        
        .hentry {
          width: 25%;
          flex-grow: 1;
        }

    }


}
